n8n/workflows/01-main-orchestrator.json
{
  "name": "Lead-Gen Orchestrator",
  "nodes": [
    {
      "id": "20000000-0000-4000-8000-000000000001",
      "name": "Poll Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 5 }
          ]
        }
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000002",
      "name": "Get Sheet Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Replace YOUR_SPREADSHEET_ID with the real sheet ID from its URL. Columns A-H must match docs/GOOGLE_SHEET_SCHEMA.md exactly.",
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/YOUR_SPREADSHEET_ID/values/Leads!A:H",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "timeout": 15000
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000003",
      "name": "Parse & Filter New/Retry Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Column order (A-H): website_url, client_email, client_name, status, repo_name, live_url, error_message, processed_at. Row 1 is the header, so data starts at row 2.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const values = $input.first().json.values || [];\nconst dataRows = values.slice(1);\n\nconst items = [];\ndataRows.forEach((row, idx) => {\n  const [website_url, client_email, client_name, status] = row;\n  const normalizedStatus = (status || '').trim();\n  if (!website_url || !client_email) return;\n  if (normalizedStatus !== '' && normalizedStatus !== 'Retry') return;\n  items.push({\n    json: {\n      row_number: idx + 2,\n      website_url,\n      client_email,\n      client_name: client_name || ''\n    }\n  });\n});\n\nreturn items;"
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000004",
      "name": "Normalize Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const row = $json;\n\nlet url = (row.website_url || '').trim();\nif (url && !/^https?:\\/\\//i.test(url)) {\n  url = 'https://' + url;\n}\n\nconst client_email = (row.client_email || '').trim();\nconst emailPrefix = client_email.split('@')[0] || 'there';\nconst client_name = (row.client_name || '').trim() || emailPrefix;\n\nreturn {\n  json: {\n    ...row,\n    website_url: url,\n    client_email,\n    client_name\n  }\n};"
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000005",
      "name": "Mark Row Processing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/YOUR_SPREADSHEET_ID/values/Leads!D{{ $json.row_number }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { values: [ ['Processing'] ] } }}",
        "options": {
          "timeout": 15000
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PLACEHOLDER",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000006",
      "name": "Restore Row Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "notes": "The Sheets write response overwrote the item JSON. Multiple leads can be in flight per poll cycle, so this must use the paired item (.item), not .first() like Workflow B does.",
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "return { json: $('Normalize Row').item.json };"
      }
    },
    {
      "id": "20000000-0000-4000-8000-000000000007",
      "name": "Call Process Single Lead",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "notes": "MANUAL CHECK AFTER IMPORT: set workflowId to the imported 'Process Single Lead' workflow, and confirm the run mode is 'Run once for each item' (not 'for all items') so one execution = one lead, matching that workflow's single-item assumptions.",
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "REPLACE_WITH_PROCESS_SINGLE_LEAD_WORKFLOW_ID",
          "mode": "list",
          "cachedResultName": "Process Single Lead"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      }
    }
  ],
  "connections": {
    "Poll Every 5 Minutes": {
      "main": [
        [
          { "node": "Get Sheet Rows", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Sheet Rows": {
      "main": [
        [
          { "node": "Parse & Filter New/Retry Rows", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse & Filter New/Retry Rows": {
      "main": [
        [
          { "node": "Normalize Row", "type": "main", "index": 0 }
        ]
      ]
    },
    "Normalize Row": {
      "main": [
        [
          { "node": "Mark Row Processing", "type": "main", "index": 0 }
        ]
      ]
    },
    "Mark Row Processing": {
      "main": [
        [
          { "node": "Restore Row Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Restore Row Data": {
      "main": [
        [
          { "node": "Call Process Single Lead", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
