n8n/workflows/02-process-single-lead.json
{
  "name": "Process Single Lead",
  "nodes": [
    {
      "id": "10000000-0000-4000-8000-000000000001",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "inputSource": "passthrough"
      },
      "notes": "Expected input: website_url, client_email, client_name, row_number"
    },
    {
      "id": "10000000-0000-4000-8000-000000000002",
      "name": "Scrape Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website_url }}",
        "authentication": "none",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000003",
      "name": "Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body ? $json.body.length : 0 }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000004",
      "name": "Stop: Site Unreachable",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [900, 460],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Website unreachable or returned empty content: {{ $('When Called by Orchestrator').item.json.website_url }} (status {{ $json.statusCode }})"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000005",
      "name": "Extract Homepage Content",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [900, 220],
      "parameters": {
        "sourceData": "json",
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            { "key": "title", "cssSelector": "title", "returnValue": "text" },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name='description']",
              "returnValue": "attribute",
              "returnAttribute": "content"
            },
            { "key": "bodyText", "cssSelector": "body", "returnValue": "text" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000006",
      "name": "Sanitize Homepage Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\n\nconst clean = (item.bodyText || '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 4000);\n\nreturn [{\n  json: {\n    title: (item.title || '').trim(),\n    metaDescription: (item.metaDescription || '').trim(),\n    homepageText: clean\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000007",
      "name": "Find Internal Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220],
      "notes": "Looks for About/Services/Contact pages on the same origin, capped at 2, for richer AI context.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const baseUrl = $('When Called by Orchestrator').first().json.website_url;\nconst html = $('Scrape Homepage').first().json.body || '';\nconst prev = $input.first().json;\n\nconst hrefRegex = /href=[\"']([^\"'#]+)[\"']/gi;\nconst keywords = ['about', 'service', 'contact'];\nconst origin = new URL(baseUrl).origin;\nconst found = new Set();\nlet m;\nwhile ((m = hrefRegex.exec(html)) !== null) {\n  const href = m[1];\n  if (!keywords.some((k) => href.toLowerCase().includes(k))) continue;\n  try {\n    const abs = new URL(href, baseUrl).toString();\n    if (new URL(abs).origin === origin) found.add(abs);\n  } catch (e) {\n    // malformed href, skip\n  }\n}\n\nreturn [{\n  json: {\n    ...prev,\n    internalLinks: Array.from(found).slice(0, 2)\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000008",
      "name": "Scrape Internal Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220],
      "notes": "Best-effort enrichment: failures on individual internal pages are swallowed, never block the pipeline.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prev = $input.first().json;\nconst links = prev.internalLinks || [];\n\nconst stripHtml = (html) => html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extraPagesText = [];\nfor (const url of links) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      timeout: 10000,\n      returnFullResponse: true\n    });\n    const text = stripHtml(String(res.body || ''));\n    if (text) extraPagesText.push(text.slice(0, 1500));\n  } catch (e) {\n    // best-effort enrichment, skip failed page\n  }\n}\n\nreturn [{\n  json: {\n    ...prev,\n    extraPagesText\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000009",
      "name": "Aggregate Scraped Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const d = $input.first().json;\n\nconst parts = [d.homepageText || '', ...(d.extraPagesText || [])];\nconst aggregatedContent = parts\n  .join(' \\n\\n ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 6000);\n\nconst businessNameGuess = (d.title || '')\n  .split(/[-|\\u2013]/)[0]\n  .trim() || 'this business';\n\nreturn [{\n  json: {\n    businessNameGuess,\n    metaDescription: d.metaDescription || '',\n    aggregatedContent\n  }\n}];"
      }
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          { "node": "Scrape Homepage", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scrape Homepage": {
      "main": [
        [
          { "node": "Response OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Response OK?": {
      "main": [
        [
          { "node": "Extract Homepage Content", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop: Site Unreachable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Homepage Content": {
      "main": [
        [
          { "node": "Sanitize Homepage Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sanitize Homepage Text": {
      "main": [
        [
          { "node": "Find Internal Links", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Internal Links": {
      "main": [
        [
          { "node": "Scrape Internal Pages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scrape Internal Pages": {
      "main": [
        [
          { "node": "Aggregate Scraped Content", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
