n8n/workflows/02-process-single-lead.json
{
  "name": "Process Single Lead",
  "nodes": [
    {
      "id": "10000000-0000-4000-8000-000000000001",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "inputSource": "passthrough"
      },
      "notes": "Expected input: website_url, client_email, client_name, row_number"
    },
    {
      "id": "10000000-0000-4000-8000-000000000002",
      "name": "Scrape Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website_url }}",
        "authentication": "none",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000003",
      "name": "Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.data ? $json.data.length : 0 }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000004",
      "name": "Stop: Site Unreachable",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [900, 460],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Website unreachable or returned empty content: {{ $('When Called by Orchestrator').item.json.website_url }} (status {{ $json.statusCode }})"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000005",
      "name": "Extract Homepage Content",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [900, 220],
      "parameters": {
        "sourceData": "json",
        "dataPropertyName": "data",
        "extractionValues": {
          "values": [
            { "key": "title", "cssSelector": "title", "returnValue": "text" },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name='description']",
              "returnValue": "attribute",
              "returnAttribute": "content"
            },
            { "key": "bodyText", "cssSelector": "body", "returnValue": "text" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000006",
      "name": "Sanitize Homepage Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\n\nconst clean = (item.bodyText || '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 4000);\n\nreturn [{\n  json: {\n    title: (item.title || '').trim(),\n    metaDescription: (item.metaDescription || '').trim(),\n    homepageText: clean\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000007",
      "name": "Find Internal Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 220],
      "notes": "Looks for About/Services/Contact pages on the same origin, capped at 2, for richer AI context.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const baseUrl = $('When Called by Orchestrator').first().json.website_url;\nconst html = $('Scrape Homepage').first().json.data || '';\nconst prev = $input.first().json;\n\nconst hrefRegex = /href=[\"']([^\"'#]+)[\"']/gi;\nconst keywords = ['about', 'service', 'contact'];\nconst origin = new URL(baseUrl).origin;\nconst found = new Set();\nlet m;\nwhile ((m = hrefRegex.exec(html)) !== null) {\n  const href = m[1];\n  if (!keywords.some((k) => href.toLowerCase().includes(k))) continue;\n  try {\n    const abs = new URL(href, baseUrl).toString();\n    if (new URL(abs).origin === origin) found.add(abs);\n  } catch (e) {\n    // malformed href, skip\n  }\n}\n\nreturn [{\n  json: {\n    ...prev,\n    internalLinks: Array.from(found).slice(0, 2)\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000008",
      "name": "Scrape Internal Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 220],
      "notes": "Best-effort enrichment: failures on individual internal pages are swallowed, never block the pipeline.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prev = $input.first().json;\nconst links = prev.internalLinks || [];\n\nconst stripHtml = (html) => html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extraPagesText = [];\nfor (const url of links) {\n  try {\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url,\n      timeout: 10000,\n      returnFullResponse: true\n    });\n    const text = stripHtml(String(res.body || ''));\n    if (text) extraPagesText.push(text.slice(0, 1500));\n  } catch (e) {\n    // best-effort enrichment, skip failed page\n  }\n}\n\nreturn [{\n  json: {\n    ...prev,\n    extraPagesText\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000009",
      "name": "Aggregate Scraped Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const d = $input.first().json;\n\nconst parts = [d.homepageText || '', ...(d.extraPagesText || [])];\nconst aggregatedContent = parts\n  .join(' \\n\\n ')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 6000);\n\nconst businessNameGuess = (d.title || '')\n  .split(/[-|\\u2013]/)[0]\n  .trim() || 'this business';\n\nreturn [{\n  json: {\n    businessNameGuess,\n    metaDescription: d.metaDescription || '',\n    aggregatedContent\n  }\n}];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000a",
      "name": "Generate Site Spec (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 220],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": false,
      "notes": "Calls OpenAI Chat Completions directly (not the native node) so the JSON response_format contract is exact and hand-verifiable.",
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'gpt-4o-mini', temperature: 0.7, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are an expert web designer and copywriter. Given raw scraped content from a business website, produce a complete redesign brief as strict JSON only — no markdown, no commentary, no code fences. JSON shape: { businessName: string, tagline: string, colorPalette: { primary, secondary, accent, background, text } (hex colors), seoDescription: string under 160 characters, sections: array of { type: one of hero, about, services, testimonials, gallery, contact; heading: string; body: string; items: optional array of short strings } }. Sections must include at least hero, about, services, and contact. Use a modern, cohesive color palette. Testimonials must be clearly generic placeholders, not real names or claims.' }, { role: 'user', content: 'Business name guess: ' + $json.businessNameGuess + '\\nMeta description: ' + $json.metaDescription + '\\n\\nScraped website content:\\n' + $json.aggregatedContent } ] } }}",
        "options": {
          "timeout": 60000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000b",
      "name": "Parse Site Spec",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 220],
      "notes": "Throws (fails the node/execution) on malformed or incomplete AI output rather than deploying a broken site.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const res = $input.first().json;\nconst raw = res && res.choices && res.choices[0] && res.choices[0].message\n  ? res.choices[0].message.content\n  : undefined;\n\nlet spec;\ntry {\n  spec = JSON.parse(raw);\n} catch (e) {\n  throw new Error('OpenAI returned invalid JSON for site spec: ' + String(raw).slice(0, 300));\n}\n\nconst required = ['businessName', 'tagline', 'colorPalette', 'sections'];\nconst missing = required.filter((k) => !(k in spec));\nif (missing.length) {\n  throw new Error('Site spec missing required fields: ' + missing.join(', '));\n}\nif (!Array.isArray(spec.sections) || spec.sections.length === 0) {\n  throw new Error('Site spec has no sections');\n}\n\nreturn [{ json: { spec } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000c",
      "name": "Build Site Files (HTML)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 220],
      "notes": "Renders the AI site spec into a static, dependency-free index.html (Tailwind via CDN, no build step needed for GitHub Pages).",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const spec = $input.first().json.spec;\nconst contactEmail = $('When Called by Orchestrator').first().json.client_email || '';\n\nconst palette = Object.assign({ primary: '#4f46e5', secondary: '#0ea5e9', accent: '#f59e0b', background: '#ffffff', text: '#111827' }, spec.colorPalette || {});\n\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst renderSection = (s) => {\n  const heading = esc(s.heading);\n  const body = esc(s.body);\n  const items = s.items || [];\n  if (s.type === 'hero') {\n    return `<section id='hero' class='min-h-[80vh] flex flex-col items-center justify-center text-center px-6'><h1 class='text-4xl md:text-6xl font-extrabold mb-4' style='color:var(--color-primary)'>${heading}</h1><p class='text-lg md:text-2xl max-w-2xl mb-8'>${body}</p><a href='#contact' class='px-8 py-3 rounded-full font-semibold text-white' style='background:var(--color-primary)'>Get in touch</a></section>`;\n  }\n  if (s.type === 'services') {\n    const cards = items.map((it) => `<div class='p-6 rounded-2xl shadow-sm border' style='border-color:var(--color-secondary)'>${esc(it)}</div>`).join('');\n    return `<section id='services' class='py-20 px-6'><h2 class='text-3xl font-bold text-center mb-4' style='color:var(--color-primary)'>${heading}</h2><p class='text-center max-w-2xl mx-auto mb-10 opacity-80'>${body}</p><div class='grid gap-6 md:grid-cols-3 max-w-5xl mx-auto'>${cards}</div></section>`;\n  }\n  if (s.type === 'testimonials') {\n    const quotes = items.map((it) => `<blockquote class='p-6 rounded-2xl bg-white/10'>${esc(it)}<footer class='mt-4 text-sm opacity-80'>Verified client</footer></blockquote>`).join('');\n    return `<section id='testimonials' class='py-20 px-6' style='background:var(--color-secondary);color:#fff'><h2 class='text-3xl font-bold text-center mb-10'>${heading}</h2><div class='grid gap-6 md:grid-cols-3 max-w-5xl mx-auto'>${quotes}</div></section>`;\n  }\n  if (s.type === 'gallery') {\n    const tiles = items.map((it) => `<div class='aspect-video rounded-xl flex items-center justify-center text-white font-medium' style='background:var(--color-accent)'>${esc(it)}</div>`).join('');\n    return `<section id='gallery' class='py-20 px-6'><h2 class='text-3xl font-bold text-center mb-10' style='color:var(--color-primary)'>${heading}</h2><div class='grid gap-4 md:grid-cols-3 max-w-5xl mx-auto'>${tiles}</div></section>`;\n  }\n  if (s.type === 'contact') {\n    return `<section id='contact' class='py-20 px-6 text-center'><h2 class='text-3xl font-bold mb-4' style='color:var(--color-primary)'>${heading}</h2><p class='max-w-xl mx-auto mb-6 opacity-80'>${body}</p><a href='mailto:${esc(contactEmail)}' class='px-8 py-3 rounded-full font-semibold text-white' style='background:var(--color-primary)'>${esc(contactEmail)}</a></section>`;\n  }\n  const list = items.length ? `<ul class='mt-6 space-y-2 text-left max-w-md mx-auto'>${items.map((it) => `<li>${esc(it)}</li>`).join('')}</ul>` : '';\n  return `<section class='py-20 px-6 max-w-3xl mx-auto text-center'><h2 class='text-3xl font-bold mb-4' style='color:var(--color-primary)'>${heading}</h2><p class='opacity-80'>${body}</p>${list}</section>`;\n};\n\nconst sectionsHtml = (spec.sections || []).map(renderSection).join('\\n');\nconst year = new Date().getFullYear();\n\nconst html = `<!DOCTYPE html>\\n<html lang='en'>\\n<head>\\n<meta charset='UTF-8' />\\n<meta name='viewport' content='width=device-width, initial-scale=1.0' />\\n<title>${esc(spec.businessName)}</title>\\n<meta name='description' content='${esc(spec.seoDescription || spec.tagline || '')}' />\\n<script src='https://cdn.tailwindcss.com'></script>\\n<link rel='preconnect' href='https://fonts.googleapis.com'>\\n<link href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap' rel='stylesheet'>\\n<link rel='stylesheet' href='style.css'>\\n</head>\\n<body class='antialiased'>\\n<nav class='flex items-center justify-between px-6 py-4 sticky top-0 z-10 backdrop-blur bg-white/70'>\\n<span class='font-extrabold text-lg' style='color:var(--color-primary)'>${esc(spec.businessName)}</span>\\n<span class='hidden md:block text-sm opacity-70'>${esc(spec.tagline || '')}</span>\\n</nav>\\n${sectionsHtml}\\n<footer class='text-center py-8 text-sm opacity-60'>&copy; ${year} ${esc(spec.businessName)}. Site generated automatically.</footer>\\n</body>\\n</html>`;\n\nreturn [{ json: { businessName: spec.businessName, spec, palette, files: [ { path: 'index.html', content: html } ] } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000d",
      "name": "Build Site Files (CSS)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prev = $input.first().json;\nconst p = prev.palette;\n\nconst css = `:root{--color-primary:${p.primary};--color-secondary:${p.secondary};--color-accent:${p.accent};--color-background:${p.background};--color-text:${p.text};}\\nbody{font-family:'Inter',system-ui,sans-serif;background:var(--color-background);color:var(--color-text);}\\na{transition:opacity .2s ease;}\\na:hover{opacity:.85;}\\n::selection{background:var(--color-accent);color:#fff;}`;\n\nreturn [{ json: { ...prev, files: [...prev.files, { path: 'style.css', content: css }] } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000e",
      "name": "Build Site Files (README)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prev = $input.first().json;\nconst spec = prev.spec;\nconst today = new Date().toISOString().slice(0, 10);\n\nconst readme = `# ${spec.businessName}\\n\\n${spec.tagline || ''}\\n\\nThis static site was automatically generated on ${today} as a redesign preview by an automated lead-generation pipeline.\\n\\n## Files\\n\\n- \\`index.html\\` \\u2014 the site\\n- \\`style.css\\` \\u2014 palette and base styles\\n\\nHosted via GitHub Pages. No build step required \\u2014 edit the HTML/CSS directly.`;\n\nreturn [{ json: { ...prev, files: [...prev.files, { path: 'README.md', content: readme }] } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000000f",
      "name": "Compute Repo Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 220],
      "notes": "Repo name is deterministic from businessName + row_number, so re-running this workflow for the same row always targets the same repo (idempotent retries).",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const prev = $input.first().json;\nconst rowNumber = $('When Called by Orchestrator').first().json.row_number;\n\nconst slug = (prev.businessName || 'site')\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '-')\n  .replace(/^-+|-+$/g, '')\n  .slice(0, 80) || 'site';\n\nconst repoName = `${slug}-lead-${rowNumber}`;\n\nreturn [{ json: { ...prev, repoName } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000010",
      "name": "Create GitHub Repo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 220],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "notes": "Owner is hardcoded to the team GitHub account (AhmedIrfan7) that hosts every generated site. Change if deploying under a different account/org.",
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/user/repos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { name: $json.repoName, description: 'Auto-generated preview site for ' + $json.businessName, auto_init: true, private: false } }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json",
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000011",
      "name": "Repo Created or Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3540, 220],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "or",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 201,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 422,
              "operator": { "type": "number", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000012",
      "name": "Stop: GitHub Repo Creation Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [3540, 380],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=GitHub repo creation failed for {{ $('Compute Repo Name').first().json.repoName }} (status {{ $json.statusCode }}): {{ JSON.stringify($json.data) }}"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000013",
      "name": "Restore Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3760, 140],
      "notes": "The GitHub create-repo response overwrote the item JSON; pull the file list and repo name back from Compute Repo Name before splitting into per-file upload items.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{ json: $('Compute Repo Name').first().json }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000014",
      "name": "Split Out Files",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [3980, 140],
      "parameters": {
        "fieldToSplitOut": "files",
        "include": "allOtherFields",
        "options": {}
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000015",
      "name": "Get Existing File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4200, 140],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "notes": "404 (file does not exist yet) is expected on first deploy and is not an error.",
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/AhmedIrfan7/{{ $json.repoName }}/contents/{{ $json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json",
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000016",
      "name": "Encode File Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4420, 140],
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const shaResp = $json;\nconst orig = $('Split Out Files').item.json;\n\nlet sha;\nif (shaResp.statusCode === 200 && shaResp.data && shaResp.data.sha) {\n  sha = shaResp.data.sha;\n}\n\nreturn {\n  json: {\n    ...orig,\n    contentBase64: Buffer.from(orig.content, 'utf8').toString('base64'),\n    sha\n  }\n};"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000017",
      "name": "Create or Update File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4640, 140],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "PUT",
        "url": "=https://api.github.com/repos/AhmedIrfan7/{{ $json.repoName }}/contents/{{ $json.path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({ message: ($json.sha ? 'Update ' : 'Add ') + $json.path, content: $json.contentBase64 }, $json.sha ? { sha: $json.sha } : {}) }}",
        "options": {
          "timeout": 20000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000018",
      "name": "Collapse After Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 140],
      "notes": "Re-syncs the N per-file items back to a single item before enabling Pages (which is a one-time, repo-level action, not per-file).",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{ json: $('Compute Repo Name').first().json }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000019",
      "name": "Enable GitHub Pages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5080, 140],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "notes": "Assumes the auto-initialized repo's default branch is 'main' (GitHub's default since 2020).",
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/AhmedIrfan7/{{ $json.repoName }}/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { source: { branch: 'main', path: '/' } } }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json",
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001a",
      "name": "Pages Enabled or Already Enabled?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5300, 140],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "or",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 201,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 409,
              "operator": { "type": "number", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001b",
      "name": "Stop: GitHub Pages Enable Failed",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [5300, 300],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Enabling GitHub Pages failed for {{ $('Compute Repo Name').first().json.repoName }} (status {{ $json.statusCode }}): {{ JSON.stringify($json.data) }}"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001c",
      "name": "Wait for Pages Build",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5520, 140],
      "parameters": {
        "resume": "timeInterval",
        "amount": 45,
        "unit": "seconds"
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001d",
      "name": "Check Pages Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5740, 140],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/AhmedIrfan7/{{ $('Compute Repo Name').first().json.repoName }}/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json",
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001e",
      "name": "Pages Built?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5960, 140],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.data && $json.data.status }}",
              "rightValue": "built",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-00000000001f",
      "name": "Wait Extra for Pages Build",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [6180, 300],
      "notes": "Best-effort single retry. If still not built after this, we proceed anyway — the URL is deterministic and Pages usually finishes building within a minute or two either way.",
      "parameters": {
        "resume": "timeInterval",
        "amount": 20,
        "unit": "seconds"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000020",
      "name": "Recheck Pages Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6400, 300],
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/AhmedIrfan7/{{ $('Compute Repo Name').first().json.repoName }}/pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json",
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "PLACEHOLDER",
          "name": "GitHub PAT"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000021",
      "name": "Compute Live URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6620, 220],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $('Compute Repo Name').first().json;\nconst owner = 'AhmedIrfan7';\nconst liveUrl = `https://${owner}.github.io/${data.repoName}/`;\n\nreturn [{ json: { ...data, liveUrl } }];"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000022",
      "name": "Send Client Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [6840, 220],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('When Called by Orchestrator').first().json.client_email }}",
        "subject": "=Your new website preview is ready — {{ $json.businessName }}",
        "emailType": "html",
        "message": "={{ `<div style='font-family:Inter,Arial,sans-serif;max-width:560px;margin:0 auto;padding:32px'><h1 style='color:#111827'>Your new website is ready!</h1><p>Hi ${ $('When Called by Orchestrator').first().json.client_name || $json.businessName },</p><p>We put together a redesigned preview of your website. Take a look:</p><p style='text-align:center;margin:32px 0'><a href='${ $json.liveUrl }' style='background:#4f46e5;color:#ffffff;padding:14px 28px;border-radius:999px;text-decoration:none;font-weight:600;display:inline-block'>View your new site</a></p><p style='color:#666666;font-size:14px'>If the button does not work, copy this link into your browser:<br>${ $json.liveUrl }</p></div>` }}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "PLACEHOLDER",
          "name": "Gmail account"
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000023",
      "name": "Format Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7060, 220],
      "notes": "Final node of this workflow. Its output is what the orchestrator (Workflow A) reads via the Execute Workflow node to update the sheet.",
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\nconst rowNumber = $('When Called by Orchestrator').first().json.row_number;\n\nreturn [{\n  json: {\n    success: true,\n    rowNumber,\n    repoName: data.repoName,\n    liveUrl: data.liveUrl,\n    businessName: data.businessName\n  }\n}];"
      }
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          { "node": "Scrape Homepage", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scrape Homepage": {
      "main": [
        [
          { "node": "Response OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Response OK?": {
      "main": [
        [
          { "node": "Extract Homepage Content", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop: Site Unreachable", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Homepage Content": {
      "main": [
        [
          { "node": "Sanitize Homepage Text", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sanitize Homepage Text": {
      "main": [
        [
          { "node": "Find Internal Links", "type": "main", "index": 0 }
        ]
      ]
    },
    "Find Internal Links": {
      "main": [
        [
          { "node": "Scrape Internal Pages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scrape Internal Pages": {
      "main": [
        [
          { "node": "Aggregate Scraped Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Aggregate Scraped Content": {
      "main": [
        [
          { "node": "Generate Site Spec (OpenAI)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Generate Site Spec (OpenAI)": {
      "main": [
        [
          { "node": "Parse Site Spec", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Site Spec": {
      "main": [
        [
          { "node": "Build Site Files (HTML)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Site Files (HTML)": {
      "main": [
        [
          { "node": "Build Site Files (CSS)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Site Files (CSS)": {
      "main": [
        [
          { "node": "Build Site Files (README)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Site Files (README)": {
      "main": [
        [
          { "node": "Compute Repo Name", "type": "main", "index": 0 }
        ]
      ]
    },
    "Compute Repo Name": {
      "main": [
        [
          { "node": "Create GitHub Repo", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create GitHub Repo": {
      "main": [
        [
          { "node": "Repo Created or Exists?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Repo Created or Exists?": {
      "main": [
        [
          { "node": "Restore Lead Data", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop: GitHub Repo Creation Failed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Restore Lead Data": {
      "main": [
        [
          { "node": "Split Out Files", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Out Files": {
      "main": [
        [
          { "node": "Get Existing File SHA", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Existing File SHA": {
      "main": [
        [
          { "node": "Encode File Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Encode File Content": {
      "main": [
        [
          { "node": "Create or Update File", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create or Update File": {
      "main": [
        [
          { "node": "Collapse After Upload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Collapse After Upload": {
      "main": [
        [
          { "node": "Enable GitHub Pages", "type": "main", "index": 0 }
        ]
      ]
    },
    "Enable GitHub Pages": {
      "main": [
        [
          { "node": "Pages Enabled or Already Enabled?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pages Enabled or Already Enabled?": {
      "main": [
        [
          { "node": "Wait for Pages Build", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop: GitHub Pages Enable Failed", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait for Pages Build": {
      "main": [
        [
          { "node": "Check Pages Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Pages Status": {
      "main": [
        [
          { "node": "Pages Built?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pages Built?": {
      "main": [
        [
          { "node": "Compute Live URL", "type": "main", "index": 0 }
        ],
        [
          { "node": "Wait Extra for Pages Build", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait Extra for Pages Build": {
      "main": [
        [
          { "node": "Recheck Pages Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Recheck Pages Status": {
      "main": [
        [
          { "node": "Compute Live URL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Compute Live URL": {
      "main": [
        [
          { "node": "Send Client Email", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Client Email": {
      "main": [
        [
          { "node": "Format Success Output", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "REPLACE_WITH_ERROR_NOTIFIER_WORKFLOW_ID"
  }
}
