n8n/workflows/02-process-single-lead.json
{
  "name": "Process Single Lead",
  "nodes": [
    {
      "id": "10000000-0000-4000-8000-000000000001",
      "name": "When Called by Orchestrator",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "inputSource": "passthrough"
      },
      "notes": "Expected input: website_url, client_email, client_name, row_number"
    },
    {
      "id": "10000000-0000-4000-8000-000000000002",
      "name": "Scrape Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website_url }}",
        "authentication": "none",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text",
              "neverError": true
            }
          },
          "redirect": {
            "redirect": {}
          }
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000003",
      "name": "Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "equals" }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body ? $json.body.length : 0 }}",
              "rightValue": 200,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000004",
      "name": "Stop: Site Unreachable",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [900, 460],
      "parameters": {
        "errorType": "errorMessage",
        "errorMessage": "=Website unreachable or returned empty content: {{ $('When Called by Orchestrator').item.json.website_url }} (status {{ $json.statusCode }})"
      }
    },
    {
      "id": "10000000-0000-4000-8000-000000000005",
      "name": "Extract Homepage Content",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1.2,
      "position": [900, 220],
      "parameters": {
        "sourceData": "json",
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            { "key": "title", "cssSelector": "title", "returnValue": "text" },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name='description']",
              "returnValue": "attribute",
              "returnAttribute": "content"
            },
            { "key": "bodyText", "cssSelector": "body", "returnValue": "text" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Called by Orchestrator": {
      "main": [
        [
          { "node": "Scrape Homepage", "type": "main", "index": 0 }
        ]
      ]
    },
    "Scrape Homepage": {
      "main": [
        [
          { "node": "Response OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Response OK?": {
      "main": [
        [
          { "node": "Extract Homepage Content", "type": "main", "index": 0 }
        ],
        [
          { "node": "Stop: Site Unreachable", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
